#bananas{
    text-align: center;
}

#title{
    background-color: #E6E6FA;
    padding-top: 20px;
    padding-bottom: 50px;
    
}

#submitButton{

   background-color:#32cd32;

   border: none;

   color: white;

   padding: 15px 32px;

   text-align: center;

   text-decoration: none;

   display: inline-block;

   font-size: 16px;

   margin: 4px 2px;

   cursor: pointer;

   border-radius: 10px;
    
}

.column {
float:left;

 width: 20.33%;

 padding: 5px;

}



/*.row::after {

 content: "";

 clear: both;

 display: table;
 
 padding-left: 100px; 

}*/
