body{
    background-image: url("../img/runway.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
    background-color: #C5E6F8;
    text-align: center;
    
    font-family: "Caveat";
    font-size: 1.2em;
}

#text{
    background-color: #C5E6F8;
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 1.0em;
}


.correct{
    color:green;
    font-size: 18pt;
}

.incorrect{
    color:red;
    font-size: 18pt;
}

#cmon{
    color:red;
}

hr{
    height: 5px;
    background-color: black;
    color: black;
    
}

#title{
    font-family: "Permanent Marker";
    font-size: 2.4em;
    background-image:linear-gradient(90deg, lightgray, rgba(90,90,90));
    padding-bottom: 50px;
    padding-top: 50px;
}

#results, #notes{
    font-size: 1.2em;
}

